---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - persistentvolumeclaims
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  - statefulsets/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchactiongroups
  - opensearchclusters
  - opensearchcomponenttemplates
  - opensearchindextemplates
  - opensearchismpolicies
  - opensearchroles
  - opensearchsnapshotpolicies
  - opensearchtenants
  - opensearchuserrolebindings
  - opensearchusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchactiongroups/finalizers
  - opensearchclusters/finalizers
  - opensearchcomponenttemplates/finalizers
  - opensearchindextemplates/finalizers
  - opensearchismpolicies/finalizers
  - opensearchroles/finalizers
  - opensearchsnapshotpolicies/finalizers
  - opensearchtenants/finalizers
  - opensearchuserrolebindings/finalizers
  - opensearchusers/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchactiongroups/status
  - opensearchclusters/status
  - opensearchcomponenttemplates/status
  - opensearchindextemplates/status
  - opensearchismpolicies/status
  - opensearchroles/status
  - opensearchsnapshotpolicies/status
  - opensearchtenants/status
  - opensearchuserrolebindings/status
  - opensearchusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
