apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: {{ include "opensearch-operator.fullname" . }}-{{ .Release.Namespace }}-manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  - statefulsets/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - "policy"
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchactiongroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchactiongroups/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchactiongroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchclusters/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchcomponenttemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchcomponenttemplates/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchcomponenttemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchindextemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchindextemplates/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchindextemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchroles/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchroles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchtenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchtenants/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchtenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchuserrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchuserrolebindings/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchuserrolebindings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
    - opensearch.org/v1
  resources:
    - opensearchismpolicies/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - opensearch.org/v1
  resources:
    - opensearchismpolicies/finalizers
  verbs:
    - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
    - opensearch.org/v1
  resources:
    - opensearchismpolicies
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchusers/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchsnapshotpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchsnapshotpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org/v1
  resources:
  - opensearchsnapshotpolicies/finalizers
  verbs:
  - update