---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.useRoleBindings }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: {{ include "opensearch-operator.fullname" . }}
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  - statefulsets/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - "policy"
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchactiongroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchactiongroups/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchactiongroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchclusters/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchcomponenttemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchcomponenttemplates/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchcomponenttemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchindextemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchindextemplates/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchindextemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchroles/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchroles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchtenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchtenants/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchtenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchuserrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchuserrolebindings/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchuserrolebindings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
    - opensearch.opster.io
  resources:
    - opensearchismpolicies/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - opensearch.opster.io
  resources:
    - opensearchismpolicies/finalizers
  verbs:
    - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
    - opensearch.opster.io
  resources:
    - opensearchismpolicies
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchusers/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchsnapshotpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchsnapshotpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.opster.io
  resources:
  - opensearchsnapshotpolicies/finalizers
  verbs:
  - update
# New API group: opensearch.org (migration target)
- apiGroups:
  - opensearch.org
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchactiongroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchactiongroups/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchactiongroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchclusters/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchcomponenttemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchcomponenttemplates/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchcomponenttemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchindextemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchindextemplates/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchindextemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchroles/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchroles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchtenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchtenants/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchtenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchuserrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchuserrolebindings/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchuserrolebindings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchismpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchismpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchismpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchusers/finalizers
  verbs:
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchsnapshotpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensearch.org
  resources:
  - opensearchsnapshotpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - opensearch.org
  resources:
  - opensearchsnapshotpolicies/finalizers
  verbs:
  - update
{{- if not .Values.useRoleBindings }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "opensearch-operator.fullname" . }}-metrics
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.useRoleBindings }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: {{ include "opensearch-operator.fullname" . }}-proxy
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "opensearch-operator.fullname" . }}-leader-election
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "opensearch-operator.fullname" . }}-leader-election
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "opensearch-operator.fullname" . }}-leader-election
subjects:
- kind: ServiceAccount
  name: {{ include "opensearch-operator.serviceAccountName" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ if .Values.useRoleBindings }}RoleBinding{{ else }}ClusterRoleBinding{{ end }}
metadata:
  name: {{ include "opensearch-operator.fullname" . }}
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ if .Values.useRoleBindings }}Role{{ else }}ClusterRole{{ end }}
  name: {{ include "opensearch-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "opensearch-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ if .Values.useRoleBindings }}RoleBinding{{ else }}ClusterRoleBinding{{ end }}
metadata:
  name: {{ include "opensearch-operator.fullname" . }}-proxy
  labels:
    {{- include "opensearch-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ if .Values.useRoleBindings }}Role{{ else }}ClusterRole{{ end }}
  name: {{ include "opensearch-operator.fullname" . }}-proxy
subjects:
- kind: ServiceAccount
  name: {{ include "opensearch-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
