name: Testing
on: [pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: PWD-phase
        run: pwd
      - name: LS-l-phase
        run: ls -l
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: make test