name: Testing
on: [pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: |
          echo "A initial message"
          pwd
          ls
          cd opensearch-operator
          echo "After cd"
          ls
          make test
